<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smishlyaevakatya_android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmishlyaevaKatya_android">
        <activity android:name=".homework22.LoginActivity"/>
        <activity android:name=".homework19.FlagsActivity" />
        <activity android:name=".homework20.view_model.MyModelActivity" />
        <activity android:name=".homework20.lifecycle.MyServerActivity" />
        <activity android:name=".homework20.lifecycle_activity.MyActivity" />
        <activity android:name=".homework20.lifecycle_activity.MySecondActivity" />
        <activity android:name=".homework18.Harvesting" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".homework17.MyTimer" />
    </application>

</manifest>